* {
    box-sizing: border-box;
  }
  body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    background: #edf7eb;
  }
  p {
      text-align: justify;
  }
  /* Header/Blog Title */
  
.header {
  text-align: center;
  height: 200px;
  width: 100%;
  position: relative; 
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header .title {
  font-family: Brush Script MT, Brush Script Std, cursive;
  font-size: 40px;
  text-align: center;
  height: 20px;
  position: relative;
  opacity: 0.75;
}


.header::before {    
    content: "";
    background-image: url("img/woodsbig.jpg");
    background-size: cover;
    position: absolute;
    height: 200px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.3;
}

  /* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
    float: left;
    width: 75%;
  }
/* Right column */
.rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
  }

.favorites {
    font-size: 12px;
}

.zoom {
    transition: transform .2s;
    margin: 0 auto;
}

.zoom:hover {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(3); 
  }

  /* Add a card effect for articles */
.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
 }
 
 /* Clear floats after the columns */
 .row:after {
   content: "";
   display: table;
   clear: both;
 }
 
 /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }

a {
    color: black;
    text-decoration: none;
} 